PORT=XXXXXXXXXXXXXX
NODE_ENV=XXXXXXXXXXXXXXX
LOG_LEVEL=XXXXXXXXXX
ALLOWED_ORIGINS=XXXXXXXXXXXXXXXXXXXXXXXX
HELIUS_RPC_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GEMINI_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX